.body {
  background-color: #8b5e24;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}
h2 {
  margin: 0 0 5px;
  font-size: 24px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.3);
}
select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city:last-child {
  border: none;
}

.time {
  font-size: 40px;
  font-weight: bold;
}
.time small {
  font-size: 20px;
  vertical-align: middle;
  line-height: 36px;
}
.date {
  opacity: 0.7;
}
footer {
  margin: 20px;
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}
